name: Playwright and Artillery

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  playwright_tests_job:
    name: Playwright Tests
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        run: npx playwright test --workers=1

      - name: Upload Playwright report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

  artillery_load_test_job:
    name: Airbnb API Performance Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
      - name: Execute load tests
        uses: artilleryio/action-cli@v1
        with:
          command: run  --output Artillery/test-run-report.json Artillery/API-perf-tests/airbnb-api-perf-test.yml
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: artillery-report
          path: Artillery/test-run-report.json

  artillery_load_test_job2:
      name: Airbnb PW Performance Test
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4

        - name: Setup Node.js
          uses: actions/setup-node@v4
          with:
            node-version: 'lts/*'
        - name: Install dependencies
          run: npm ci
        - name: Install Playwright Browsers
          run: npx playwright install
        - name: Execute load tests
          uses: artilleryio/action-cli@v1
          with:
            command: run  --output Artillery/Playwright-perf-tests/test-run-report.json Artillery/Playwright-perf-tests/airbnb-playwright-perf-test.yml
        - name: Upload artifact
          uses: actions/upload-artifact@v4
          if: always()
          with:
            name: artillery-report
            path: Artillery/test-run-report.json # reference the generated report in the file system
